body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4{
  margin:0;
}

button{
  cursor:pointer;
}
.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}
#google_translate_element {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}
